html {
	background: var(--background-color) !important;
}

body {
	color: var(--color-2) !important;
}

::-webkit-scrollbar-track {
	background: #aaa !important;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5) !important;
}

a,
a:visited,
a:active {
	color: #ddd !important;
}

a:hover {
	color: #fff !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs,
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab,
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover,
.gwt-TabLayoutPanelContentContainer,
.GC02KLKBG0,
.GC02KLKBJ0 > ul {
	border-color: #666 !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab,
.GC02KLKBG0,
.GC02KLKBG0 ul {
	background-color: #333 !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {
	background-color: #333 !important;
}

.GC02KLKBD0 {
	background-color: var(--background-accent-4) !important;
	color: #fff !important;
}

.GC02KLKBG0,
.GC02KLKBG0 ul,
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected,
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {
	background-color: var(--background-color) !important;
	color: #fff !important;
}

.gwt-HTML,
.gwt-Label,
.gwt-InlineLabel {
	color: #ddd !important;
}

.GC02KLKBFS li .gwt-HTML,
.GC02KLKBFS li .gwt-Label,
.GC02KLKBMR li .gwt-HTML,
.GC02KLKBMR li .gwt-Label {
	background-color: var(--background-accent-8) !important;
	border-radius: 100px;
}

.gwt-HTML:hover,
.gwt-Label:hover,
.gwt-InlineLabel:hover {
	color: #fff !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {
	color: #ddd !important;
}

.sidebar-panel {
	background: var(--background-color) !important;
	border-top-color: #666 !important;
	border-left-color: #666 !important;
}

.sidebar-content-panel-buttons {
	border-bottom: 1px solid #666 !important;
	background-color: var(--background-color) !important;
}

.datePickerDays {
	background: var(--background-color) !important;
}

.datePickerDayIsWeekend {
	background-color: #292929 !important;
}

.datePickerDay.datePickerDayIsFiller {
	color: #888 !important;
}

.datePickerDay {
	color: #ddd !important;
}

.GCUXQXIAP,
.GCUXQXIKI {
	border-bottom: 1px solid #666 !important;
}

.GCUXQXIAP,
.GCUXQXIAP > div,
.GCUXQXIKI,
.GCUXQXIAJ,
.GCUXQXICJ {
	background-color: var(--background-color) !important;
}

.GCUXQXIAJ:hover,
.GCUXQXICJ:hover,
.GCUXQXIHJ:hover,
.GCUXQXIEJ:hover,
.GCUXQXIGJ:hover,
.GCUXQXIOI:hover {
	color: #fff !important;
	background-color: initial !important;
}

.GCUXQXIPO:before {
	display: none !important;
}

.GCUXQXIBP,
.GCUXQXINO,
.GCUXQXIKI {
	color: #ddd !important;
}

.GCUXQXIHV.GCUXQXIFV {
	filter: invert(1) !important;
}

.GCUXQXIFV,
.imageCheckBox-fakeBox {
	filter: invert(1) !important;
}

.GCUXQXIHQ {
	margin: 10px 14px 0 14px !important;
	padding-bottom: 10px !important;
}

.wc-header td {
	border-bottom: 1px solid #666 !important;
	background-color: var(--background-color) !important;
	color: #ddd !important;
}

.wc-hour-header,
.wc-hour-header.outside-business-hours {
	background: var(--background-color) !important;
	color: #ddd !important;
}

.wc-day-column {
	border-left: 1px solid #444 !important;
	background-color: #272727 !important;
}

.wc-cal-event {
	background-color: #333 !important;
	color: #ddd !important;
	font-size: smaller !important;
}

.wc-cal-event-border {
	border: 1px solid #777 !important;
}

.wc-module-name {
	font-weight: bold !important;
	font-size: small !important;
}

.wc-time {
	filter: brightness(0.9) !important;
}

.wc-time-slot {
	border-bottom: 1px solid #444 !important;
}

.wc-hour-end,
.wc-hour-header {
	border-bottom: 1px solid #666 !important;
}

.top-header-image {
	filter: invert(1) !important;
}

.mytimetable-application-panel {
	background-color: var(--background-color) !important;
}

.popupContent,
.gwt-TabLayoutPanelContentContainer,
.GCUXQXID1,
.GC02KLKBI1 {
	background-color: var(--background-color) !important;
	color: #ddd !important;
}

.GC02KLKBPW td {
	border-color: #666 !important;
	background-color: var(--background-color) !important;
	color: #ddd !important;
}

.GC02KLKBLV td {
	background-color: #272727 !important;
	border-color: #666 !important;
}

.GC02KLKBLV.GC02KLKBGX td {
	background-color: #333 !important;
}

.GCUXQXIB0,
.GCUXQXIB0 ul,
.GCUXQXIPY {
	background-color: #444 !important;
	color: #ddd !important;
	border: 1px solid #666 !important;
}

.GCUXQXIC0 .GCUXQXIB0:after {
	border-bottom: 6px solid #444 !important;
}

.GCUXQXIB0 li.GCUXQXIO- {
	color: #fff !important;
	background-color: var(--background-color) !important;
}

.GCUXQXIB0 li.GCUXQXIA0,
.GCUXQXIB0 li.GCUXQXIE0 {
	color: #ddd !important;
}

.GCUXQXIEP,
.GCUXQXICR {
	border: 1px solid #666 !important;
	background-color: unset !important;
}

.GCUXQXIKW td {
	border-color: #666 !important;
	background-color: var(--background-color) !important;
	color: #ddd !important;
}

.GCUXQXIHX {
	background-color: #111 !important;
}

.GCUXQXIJW {
	color: #888 !important;
}

.GCUXQXIIV td {
	border-color: #666 !important;
}

.GCUXQXIIV td {
	background-color: initial !important;
}

.GC02KLKBAP::before {
	content: unset !important;
}

.GC02KLKBBP {
	background-color: var(--background-accent-2);
	border-color: #666 !important;
}

.GC02KLKBPO,
.GC02KLKBEP,
.GC02KLKBAP,
.GC02KLKBAJ,
.GC02KLKBFP {
	background-color: initial !important;
}

.GC02KLKBDR {
	background-color: var(--background-accent-6);
}

.GC02KLKBOO {
	color: #ddd !important;
}

/* Popups weird white bottom bar */
.GC02KLKBJQ,
.GC02KLKBIQ {
	margin: unset !important;
	padding: 10px 14px !important;
}

/* Radio buttons */
.GC02KLKBIV {
	filter: invert(1);
}

/* Subjects bar right */
.GC02KLKBBJ {
	color: #ddd;
}

.GC02KLKBLI.GC02KLKBNI::before {
	border-top: 4px solid #fff;
}

.GC02KLKBBK:hover,
.GC02KLKBBK.GC02KLKBGI,
.gwt-CheckBox:hover {
	background-color: var(--background-color) !important;
	color: #fff !important;
}

.GC02KLKBH0 {
	z-index: 1;
}

.GC02KLKBE- {
	background-color: var(--background-accent-3) !important;
}

.GC02KLKBEJ {
	fill: #fff !important;
}

/* Time bar related */
.wc-time-slots {
	z-index: 1 !important;
}

.wc-time-slots td[class^="wc-day-column day-"] {
	position: relative !important;
}

.wc-time-slots td[class^="wc-day-column day-"] > hr.current-time {
	height: 47%;
	width: 100%;
	position: absolute !important;
	background: rgba(0, 0, 0, 0.4);
	z-index: 2;
	margin: unset !important;
	border: unset;
	border-bottom: #a80000 2px solid;
}

.wc-time-slots td[class^="wc-day-column day-"] > .wc-day-column-inner {
	z-index: 1 !important;
}

.gwt-PopupPanelGlass {
	z-index: 5;
}

.gwt-PopupPanel {
	z-index: 10;
}
